fieldset {
    border: 1px solid black;
    width: 40%;
    margin: 1em auto;
    font-size: 20px;
}

    fieldset p {
        font-size: 35px;
        text-align: center;
    }

legend {
    width: auto;
    text-align: center;
    font-size: 4rem;
    padding: 0 1rem;
}

#name {
    display: block;
    margin: 1rem auto 1rem auto;
    padding: 0.5rem 9rem 0.5rem 1rem;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#pnumber {
    display: block;
    margin: 1rem auto 1rem auto;
    padding: 0.5rem 9rem 0.5rem 1rem;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#address {
    display: block;
    margin: 1rem auto 1rem auto;
    padding: 0.5rem 9rem 0.5rem 1rem;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#uname {
    display: block;
    margin: 1rem auto 1rem auto;
    padding: 0.5rem 9rem 0.5rem 1rem;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#pass {
    display: block;
    margin: 0 auto 1rem auto;
    padding: 0.5rem 9rem 0.5rem 1rem;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#passconfirm {
    display: block;
    margin: 0 auto 1rem auto;
    padding: 0.5rem 9rem 0.5rem 1rem;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.btn-log {
    display: block;
    margin: auto;
    padding: 0.5rem 8.5rem;
    margin-bottom: 5rem;
    font-weight: bold;
    background-color: #00e673;
    border: none;
    border-radius: 3px;
}

.btn-reg {
    display: block;
    margin: auto;
    padding: 0.5rem 9.3rem;
    margin-bottom: 5rem;
    font-weight: bold;
    background-color: #ff8080;
    border: none;
    border-radius: 3px;
}

fieldset .reg {
    font-size: 15px;
    text-align: center;
    margin-bottom: 1rem;
}

fieldset label {
    margin-left: 5rem;
}
