@page "/account/{action}"
@using DoAnBanSach.Shared
@inject HttpClient HttpClient
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<div class="account-wrapper">
    <div class="account-inner-wrapper">
        <div class="account-actions-wrapper">
            <button @onclick=@(() => ChangeAction("login")) class="account-action @(Action == "login"? "selected": "")">Đăng nhập</button>
            <button @onclick=@(() => ChangeAction("register")) class="account-action @(Action == "register"? "selected": "")">Đăng ký</button>
        </div>
        <div class="input-form-wrapper">
            @if (Action == "login")
            {
                <LoginForm />
            }
            @if (Action == "register")
            {
                <RegisterForm />
            }
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string Action { get; set; } = "login";

    public void ChangeAction(string action)
    {
        Action = action;
    }
}
