.product-form > * + * {
    margin-top: 4px;
}

.product-form-wrapper {
    padding: 16px;
    background: white;
}

.input-label {
    font-size: 1.1rem;
}

.input-text {
    font-size: 1.2rem;
}


.image-frame {
    margin: 20px 0;
    display: grid;
    place-items: center;
    font-size: 1.3rem;
    width: 200px;
    height: 200px;
    border: 2px black solid;
    background: white;
    cursor: pointer;
}

.update-button, .create-button {
    width: max-content;
    padding: 12px 60px;
    border-radius: 8px;
    margin: auto;
    margin-top: 12px;
    border: none;
    background: #1769aa;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.table {
    background: white;
    padding: 16px;
}

.row {
    margin: 0;
}
.header-row {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px gray solid;
}

.content-rows-wrapper > * + * {
    margin-top: 16px;
}

.book-row {
    min-height: 40px;
}

.view-icon:hover {
    color: #1769aa;
}

.remove-icon:hover {
    color: #ff1919;
}


.page-navigate-buttons {
    background: white;
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

    .page-navigate-buttons > * + * {
        margin-left: 4px;
    }

.page-navigate-button {
    background: white;
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    transition: all 0.8s;
}

    .page-navigate-button:hover {
        background: #fcdab0;
    }

    .page-navigate-button.selected {
        color: white;
        background: #c92127;
    }

        .page-navigate-button.selected:hover {
            background: #c92127;
        }
