<div class="wrapper">
    <div class="link-panel">
        <a href="#" class="link">Giới thiệu</a>
        <a href="#" class="link">Chính sách bảo mật</a>
        <a href="#" class="link">Chính sách vận chuyển</a>
        <a href="#" class="link">Hình thức thanh toán</a>
    </div>
    <div class="link-panel">
        <a href="#" class="link">Quy định đổi, trả và hủy đơn hàng</a>
        <a href="#" class="link">Hướng dẫn đặt hàng</a>
        <a href="#" class="link">Liên hệ</a>
        <a href="#" class="link">Thông báo</a>
    </div>
</div>